.features {
    width: 100%;
    height: auto;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    padding: 60px 10px;
}

.titleBlockContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleBlockTitle {
    text-transform: capitalize;
    color: var(--brown);
    max-width: 624px;
    padding: 0px 30px;

    @media (max-width: 380px) {
        padding: 0px 10px;
        font-size: 30px;
        line-height: 48px;
    }
}