.features {
	width: 100%;
	height: auto;
	padding-bottom: 65px;
}

.logos {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	margin-top: -7%;
	position: relative;
	z-index: 10;
	flex-wrap: wrap;

}

.image{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}


.link{
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	line-height: 25px;
	/* identical to box height, or 100% */
	text-align: center;
	letter-spacing: 0.2px;
	color: var(--ifm-color-text-primary);
	padding-top: 25px;
}

.link:hover{
	color: var(--brown);
	text-decoration:none !important;

}
@media screen and (max-width: 1115px) {}

@media screen and (max-width: 720px) {
	.logos {
	flex-direction: column;
}
.image{
	margin-bottom: 40px;
}
}