node_modules
coverage
.nyc_output
.DS_Store
*.log
.vscode/**/*
.idea
dist
compiled
.awcache
.env
.rpt2_cache
website/build/
website/yarn.lock
manifest.json
!.vscode/extensions.json
website/*.bak
integration-tests/jest-stare
**/saplingOutputParams*
**/saplingSpendParams*
apps/**/node_modules
.nx
.ansible
