node_modules
coverage
.nyc_output
.DS_Store
*.log
.vscode/**/*
.idea
dist
compiled
.awcache
.rpt2_cache
website/build/
manifest.json
!.vscode/extensions.json
website/*.bak
integration-tests/jest-stare
packages/taquito/src/version.ts
packages/taquito-beacon-wallet/src/version.ts
packages/taquito-http-utils/src/version.ts
packages/taquito-ledger-signer/src/version.ts
packages/taquito-local-forging/src/version.ts
packages/taquito-michel-codec/src/version.ts
packages/taquito-michelson-encoder/src/version.ts
packages/taquito-remote-signer/src/version.ts
packages/taquito-rpc/src/version.ts
packages/taquito-signer/src/version.ts
packages/taquito-tezbridge-signer/src/version.ts
packages/taquito-tezbridge-wallet/src/version.ts
packages/taquito-tzip12/src/version.ts
packages/taquito-tzip16/src/version.ts
packages/taquito-utils/src/version.ts
