node_modules
coverage
.nyc_output
.DS_Store
*.log
.vscode/**/*
.idea
dist
compiled
.awcache
.env
.env.*
.rpt2_cache
website/build/
website/yarn.lock
manifest.json
!.vscode/extensions.json
website/*.bak
integration-tests/jest-stare
integration-tests/.rpc-hammer.local.env
integration-tests/run-rpc-hammer.local.sh
**/saplingOutputParams*
**/saplingSpendParams*
!packages/taquito-sapling/saplingOutputParams.js
!packages/taquito-sapling/saplingSpendParams.js
!packages/taquito-sapling-spend-params/saplingSpendParams.js
apps/**/node_modules
.nx
.ansible
.claude
