.admonition-heading {
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
}
.admonition-content > * {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  padding-left: 2rem;
}
.admonition-caution {
  background: rgba(206, 85, 1, 0.1);
  border-radius: 0px 50px 50px 0px;
  border-color: #ce5501;
  .admonition-heading {
    color: #ce5501;
  }
  .admonition-content > * {
    color: #ce5501;
  }
  svg {
    path {
      fill: #ce5501;
    }
  }
}
.admonition-note {
  background: rgba(211, 131, 43, 0.1);
  border-radius: 0px 50px 50px 0px;
  border-color: #d3832b;
  .admonition-icon {
    svg {
      path {
        fill: #d3832b;
      }
    }
  }
  .admonition-heading {
    color: #d3832b;
  }
  .admonition-content > * {
    color: #d3832b;
  }
}

.admonition-info {
  background: rgba(255, 181, 0, 0.1);
  border-radius: 0px 50px 50px 0px;
  border-color: #ffb500;
  .admonition-icon {
    svg {
      path {
        fill: #ffb500;
      }
    }
  }
  .admonition-heading {
    color: #ffb500;
  }
  .admonition-content > * {
    color: #ffb500;
  }
}
