/* your custom css */
/*
blue 218DA5 35636E
red C73D18
brown A56921
green 71A417
beige F9E3C2
*/

/* Custom fonts for website */
/* fonts: {
    titleFont: [
      "Baloo Tammudu",
    ],
    subTitleFont: [
      "Open Sans"
    ]
  }, */
:root {
  --ifm-color-primary: #218da5;
  --ifm-color-primary-dark: #007fa7;
  --ifm-color-primary-darker: #006d9b;
  --ifm-color-primary-darkest: #005887;
  --ifm-color-primary-light: #6bb2c9;
  --ifm-color-primary-lighter: #a9d1e4;
  --ifm-color-primary-lightest: #f2faff;

  --ifm-color-secondary: #35636e;
  --ifm-color-secondary-dark: #185b82;
  --ifm-color-secondary-darker: #0d3d89;
  --ifm-color-secondary-darkest: #001487;
  --ifm-color-secondary-light: #779ca5;
  --ifm-color-secondary-lighter: #afcad2;
  --ifm-color-secondary-lightest: #f2fbff;
}

.navbar .navbar__logo {
  height: 70%;
}

/* @media (max-width: 480px) {
  .headerTitleWithLogo {
    display: block !important;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

.fixedHeaderContainer header img {
  height: 70%;
}

@media only screen and (max-width: 735px) {
  .blockContent {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .imageAlignSide .blockImage {
    display: block;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1024px) {
  .fixedHeaderContainer header {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 1023px) {
  .fixedHeaderContainer header img {
    margin-left: -40%;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.headerWrapper {
  padding-left: 0px;
  max-width: auto;
}

.mainContainer {
  padding: 40px 0px 0px 0px;
}

h1 {
  font-family: $titleFont;
  text-transform: uppercase;
  font-size: 32px;
}

.container .wrapper .imageAlignSide {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .wrapper .imageAlignSide h2 {
  text-align: center;
}

.container .wrapper .imageAlignSide p {
  max-width: 100%;
}

.headerTitle,
.headerTitleWithLogo {
  top: 5px;
  font-family: $titleFont;
  text-transform: uppercase;
  font-size: 32px;
}

.projectTitle img {
  max-width: 425px;
  width: 80%;
}

.homeSplashFade {
  padding-top: 50px;
}

.homeContainer .homeWrapper {
  padding: 0px 10px;
}

.mainContainer {
  margin-top: 3em;
  padding-top: 0px;
}

a {
  color: #218da5;
}

.blockContent a {
  text-decoration: underline;
}

h2 {
  font-family: $subTitleFont;
  font-size: 28px;
  font-weight: 600;
}
.darkBackground a.button {
  color: white;
}
.button {
  font-family: $subTitleFont;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #218da5;
  border-color: #218da5;
}

.imageAlignTop .blockImage {
  max-width: 100px;
  margin-bottom: -20px;
}

.button:hover {
  color: white;
  background-color: #35636e;
  border-color: #35636e;
}

h3 {
  font-family: $subTitleFont;
  font-size: 16px;
  font-weight: 800;
}

li {
  text-align: left;
} */
