@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800;900&display=swap');
/* You can override the default Infima variables here. */

:root {
  --blue-primary: #218da5;
  --blue-secondary: #35636e;
  --red: #ac0000;
  --brown: #d3832b;
  --green: #71a417;
  --beige: #f9e3c2;
  --yellow-primary: #ffe5a6;
  --brown-primary: #d3832b;
  --yellow-second: #ffb500;
  --yellow-third: rgb(255, 181, 0, 0.35);
  --black: #333333;
  --white: #ffffff;
  --twitter-svg: url('../../static/img/twitterSVG.svg') no-repeat;
  --github-svg: url('../../static/img/githubSVG.svg') no-repeat;
  --github-svg-reverse: url('../../static/img/github-svg-white.svg') no-repeat;
  --telegram-svg: url('../../static/img/telegramSVG.svg') no-repeat;
  --discord-svg: url('../../static/img/discord-mark-black.svg') no-repeat;
  --brown-secondary: #975b19;
  --background-black: #2e2e2e;
  --brown-third: #885924;
  --brown-lightest: #9c6629;
  --ifm-font-family-base: Source Sans Pro;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-color-primary-lighter: #a9d1e4;
  --ifm-color-primary-light: #6bb2c9;
  --ifm-color-primary: var(--yellow-primary);
  --ifm-color-primary-dark: #007fa7;
  --ifm-color-primary-darker: #006d9b;
  --ifm-color-primary-darkest: #005887;
  --ifm-color-text-primary: var(--black);
  --ifm-color-text-secondary: var(--white);
  --ifm-color-secondary-lightest: #f2fbff;
  --ifm-color-secondary-lighter: #afcad2;
  --ifm-color-secondary-light: #779ca5;
  --ifm-color-secondary: var(--brown-primary);
  --ifm-color-secondary-dark: #185b82;
  --ifm-color-secondary-darker: #0d3d89;
  --ifm-color-secondary-darkest: #001487;
  --ifm-color-hover-link: var(--brown-primary);
  --ifm-background-color-secondary: var(--ifm-color-primary);
  --brown--fourth: rgb(211, 131, 43, 0.7);
  --doc-sidebar-width: 366px !important;
  // --ifm-menu-link-padding-horizontal: 0px !important;
  --ifm-navbar-height: 108px !important;
  --black-secondary: #0a0203;
  --black-third: #000000;
  --sidebar-text-color: var(--black-secondary);
  --sidebar-link-bg: rgba(211, 131, 43, 0.2);
  --ifm-toc-padding-vertical: 1rem;
  --ifm-color-hover-link: var(--black);
  --docsearch-searchbox-background: var(--white) !important;
  --docsearch-muted-color: var(--ifm-color-text-primary) !important;
  --docsearch-searchbox-shadow: var(--ifm-color-text-primary) !important;
}

.alert--secondary {
  --ifm-alert-background-color: #f1f1f1;
}

.alert--warning {
  --ifm-alert-background-color: #f3b44e;
  --ifm-alert-border-color: #ffba00;
}

[data-theme='dark'] .admonition-note {
  --ifm-alert-background-color: #333437;
}

[data-theme='dark'] {
  --ifm-color-primary: var(--brown-third);
  --ifm-color-secondary: var(--yellow-primary);
  --ifm-color-text-primary: var(--white);
  --ifm-color-text-secondary: var(--black);
  --ifm-color-hover-link: var(--black);
  --twitter-svg: url('../../static/img/twitter-svg-white.svg') no-repeat;
  --github-svg: url('../../static/img/github-svg-white.svg') no-repeat;
  --github-svg-reverse: url('../../static/img/githubSVG.svg') no-repeat;
  --telegram-svg: url('../../static/img/telegram-svg-white.svg') no-repeat;
  --discord-svg: url('../../static/img/discord-mark-white.svg') no-repeat;
  --ifm-background-color-secondary: var(--background-black);
  --brown--fourth: rgb(211, 131, 43, 0.6);
  --sidebar-text-color: (var(--white));
  --sidebar-link-bg: var(--yellow-second);
  --ifm-color-hover-link: var(--brown);
  --black-third: var(--white);
  --docsearch-text-color: var(--black);
  --docsearch-searchbox-background: var(--brown-lightest) !important;
  --docsearch-searchbox-focus-background: var(--brown-lightest) !important;
}

h1 {
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 56px;

  @media (max-width: 380px) {
    font-size: 32px;
    line-height: 48px;
  }
}

h2 {
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 56px;
  text-align: left;

  @media (max-width: 380px) {
    font-size: 30px;
    line-height: 48px;
  }
}

/*
 * Overrides
 */
.navbar .navbar__brand {
  font-family: Source Sans Pro;
  font-size: 1em;
  text-transform: uppercase;
}

.navbar {
  background-color: var(--ifm-color-primary);
  height: 108px;
  padding-left: 7%;
  padding-right: 7%;
  box-shadow: none !important;
  border-bottom: 2px solid var(--yellow-second);

  // .navbar__inner{
  //   align-items: flex-end;
  // }
  // .navbar__inner {
  //   .navbar__items {
  //     @media (max-width: 960px) {
  //       min-width: 18% !important;
  //     }
  //   }
  // }
}

.DocSearch-Button {
  font-family: Source Sans Pro !important;
  font-weight: 600 !important;
  padding: 0 8px 0 10px !important;
  font-weight: 400 !important;
}

// .DocSearch-Button:active,
// .DocSearch-Button:focus,
// .DocSearch-Button:hover {
//   background: var(--docsearch-searchbox-focus-background);
//   box-shadow: var(--docsearch-searchbox-shadow);
//   color: var(--docsearch-text-color);
//   outline: none;
// }

.navbar__brand__container,
.navbar__brand {
  width: fit-content;
  height: fit-content;
  width: 160px;
  svg {
    width: fit-content;
    height: fit-content;
  }
  // margin-bottom: -10px;
}

.navbar__item {
  margin: 0 5px;
}

.navbar__link {
  font-weight: 600;

  &:hover {
    color: var(--ifm-color-hover-link) !important;
  }
}

.dropdown__link--active,
.dropdown__link--active:hover {
  --ifm-dropdown-link-color: var(--brown) !important;
}

.navbar__link--active {
  color: var(--ifm-color-hover-link) !important;
}

.navbar__items {
  align-items: center !important;
  // flex-direction: unset;
  // justify-content: unset;

  // @media (max-width: 960px) {
  //   flex-direction: row-reverse;
  //   justify-content: space-between;
  // }
}

.navbar-sidebar {

  max-width: 300px;

  .navbar-sidebar__brand {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .navbar-sidebar__items {
    padding-top: 30px;
  }

  .menu__list-item {
    max-width: 280px;
    padding-bottom: 5px;
  }

  .menu__list-item:nth-of-type(3) {
    width: fit-content;
    order: 0 !important;
  }

  .menu__link--active {
    color: var(--ifm-color-text-primary) !important;
  }
}

.button_link {
  background-color: var(--ifm-color-secondary);
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  color: var(--ifm-color-text-secondary) !important;

  &:hover {
    color: var(--ifm-color-hover-link) !important;
  }
}

.header-discord-link:before {
  background: var(--discord-svg);
  content: '';
  display: flex;
  height: 24px;
  width: 24px;
}

.header-twitter-link:before {
  background: var(--twitter-svg);
  content: '';
  display: flex;
  height: 24px;
  width: 24px;
}

.header-github-link:before {
  background: var(--github-svg);
  content: '';
  display: flex;
  height: 24px;
  width: 24px;
  padding-right: 15px;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

// .main-wrapper {
//   overflow-x: hidden;
// }

/* Footer styles */

.footer {
  background-color: var(--ifm-color-primary);
  padding-top: 80px;
  padding-bottom: 15px;
  position: relative;
  border-top: 2px solid var(--yellow-second);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--ifm-footer-padding-vertical) 5%;
}

.footer__title {
  white-space: nowrap;
  margin-bottom: 7px;
}

.footer .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 40px;
}

.footer__links {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  flex: 0 0 0 0;
  color: var(--ifm-color-text-primary) !important;
  padding-bottom: 20px;
}

.footer__links .footer__col {
  flex: unset;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.footer__links > div:nth-of-type(1) {
  width: 15%;
}

.footer__items {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.footer__item {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.3px;

  a {
    width: fit-content;
    color: var(--ifm-color-text-primary) !important;

    &:hover {
      color: var(--ifm-color-hover-link) !important;
      text-decoration: none !important;
    }
  }

  .footerButton {
    color: var(--ifm-color-text-secondary) !important;

    &:hover {
      color: var(--ifm-color-hover-link) !important;
      text-decoration: none !important;
    }
  }
}

.footer__links > div:nth-of-type(2) {
  width: 15%;
}

.footer__links > div:nth-of-type(3) {
  width: 15%;

  @media (max-width: 996px) {
    margin-right: auto;
  }
}

.footer__links > div:nth-of-type(4) {
  width: 45%;
}

.footer__bottom {
  display: none;
}

.footerButtonContainer {
  margin-bottom: 20px;
}

.footerDescription {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--ifm-color-text-primary);
  /* or 129% */
  max-width: 250px;
  letter-spacing: 0.3px;
  margin-bottom: 30px;
}

.footer__copyright {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-top: 2px solid var(--yellow-second);
  padding-top: 20px;
  color: var(--ifm-color-text-primary) !important;
  padding-bottom: 20px;
  padding-left: calc(5% + 25px);
  padding-right: calc(5% + 25px);
}

.footerButton {
  height: fit-content;
  white-space: nowrap;
  display: flex;
  align-items: center;
  background-color: var(--ifm-color-secondary);
  padding: 12px 18px;
  border-radius: 30px;
  margin-right: 15px;
  color: var(--ifm-color-text-secondary) !important;
  margin-bottom: 50px !important;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 12px;

  &:hover {
    color: var(--ifm-color-text-primary) !important;
    text-decoration: none !important;
  }

}
.footerButton:before {
  background: var(--github-svg-reverse);
  content: '';
  display: flex;
  width: 24px;
  height: 23px;
  padding-right: 9px;
}

.footerForm {
  width: 100%;
  margin-top: 50px;
}

.footerInputContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footerEmail {
  border: none;
  background: transparent;
  border-bottom: 1px solid #565656;
  padding-right: 100px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.footerLogo {
  width: fit-content;
  height: fit-content;
  max-width: 140px;
  svg {
    width: fit-content;
    height: fit-content;
  }
}

// .row .col.col.col {
//   padding-left: 5%;
//   padding-right: 5%;
// }

// .row .col--3 {
//   position: fixed;
//   right: -7%;
//   margin-right: 20px;
//   width: calc(3 / 4 * 100%);
//   height: auto;
// }

@media only screen and (max-width: 1240px) {
  .table-of-contents {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 996px) {
  // .row .col--3 {
  //   position: relative;
  // }

  .copyright {
    white-space: unset;
  }

  // .row .col.col.col {
  //   --ifm-col-width: 50%;
  //   flex-basis: unset;
  //   margin-left: 0;
  // }

  .footer__links .footer__col {
    flex: unset;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .footer__links > div:nth-of-type(4) {
    width: 100%;
  }

  .footer__links > div:nth-of-type(3) {
    width: 50%;
  }

  .footer__links > div:nth-of-type(2) {
    width: 50%;
  }

  .footer__links > div:nth-of-type(1) {
    width: 50%;
  }

  .signupButton {
    margin-top: 20px;
    margin-left: 0px;
  }
}

div.col h1 {
  color: var(--ifm-color-text-primary);
}

div.col h2 {
  color: var(--ifm-color-text-primary);
}

div.col p {
  color: var(--ifm-color-text-primary);
}

.pagination-nav__sublabel {
  display: none;
}

a.pagination-nav__link {
  border: none;
}

.pagination-nav__label {
  color: var(--ifm-color-text-primary);
}

aside {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-text-primary);

  .menu__link--active {
    color: var(--ifm-color-hover-link);
    border-radius: 24px;
    background: var(--sidebar-link-bg) !important;

    &:hover {
      color: var(--ifm-color-hover-link);
      border-radius: 24px;
      background: var(--sidebar-link-bg) !important;
    }
  }

  // .theme-doc-sidebar-item-link theme-doc-sidebar-item-link-level-2 .menu__list-item
  a {
    border-radius: 24px !important;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: var(--sidebar-text-color) !important;

    &:hover {
      border-radius: 24px;
      // background: #001487 !important;
    }
  }

  .menu {
    padding: 3rem 2.5rem 5rem 5rem !important;
    height: 100% !important;

    // overflow-x: none !important;
    @media (max-width: 1200px) {
      padding: 3rem 1.5rem 3rem 1.5rem !important;
    }
  }

  .theme-doc-sidebar-item-category-level-1 > a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: var(--sidebar-text-color);
  }

  .theme-doc-sidebar-item-category {
    padding-bottom: 10px;
  }

  // Subcategory styling for nested categories
  .sidebarSubcategory {
    .theme-doc-sidebar-item-category-level-2 > a {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      text-transform: none;
      color: var(--sidebar-text-color);
      opacity: 0.8;
      border-left: 2px solid var(--brown-primary);
    }

    .menu__list-item {
      margin-left: 16px;
    }

    .menu__link {
      font-size: 14px !important;
      color: var(--sidebar-text-color) !important;
      opacity: 0.9;
    }

    .menu__link--active {
      background: var(--sidebar-link-bg) !important;
      border-radius: 16px !important;
    }
  }
}

.table-of-contents__link--active {
  color: var(--brown-primary);
}

.table-of-contents__link:hover {
  color: var(--brown-primary);
}

.table-of-contents__left-border {
  border-left: 1px solid var(--brown-primary);
}

.theme-doc-toc-desktop {
  top: calc(var(--ifm-navbar-height) + 120px) !important;
}

.menu__list .menu__list {
  margin-left: 0px !important;
}

// [data-theme='dark'] .menu__link--active:not(.menu__link--sublist) {
//   background: var(--brown-secondary) !important;
// }

.pagination-nav {
  border-top: 1px solid var(--brown-primary);
}

.pagination-nav__label {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 12px;
  letter-spacing: 0.2px;
}

.toc-highlight {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.3px;

  code {
    color: var(--brown-secondary);
  }
}

.padding-top--md {
  padding-top: 1rem !important;
  padding-left: 3rem !important;

  a {
    color: var(--brown-primary) !important;
  }
}

.menu__list-item-collapsible .menu__link {
  color: var(--black-third) !important;
  font-family: Source Sans Pro;
  margin-left: 8px;
  // margin-top: 30px;
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 22px !important;
  background: none;
  display: block;
}

.menu__list-item-collapsible:hover {
  background-color: transparent !important;
  color: var(--black-third) !important;

  a {
    background-color: transparent !important;
    color: rgb(10, 2, 3) !important;
  }
}

.menu__link {
  padding: 0.275rem 0.75rem !important;
}

.menu__link .menu__link--sublist-caret .menu__link--active:hover {
  background-color: transparent !important;
  color: rgb(10, 2, 3) !important;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: var(--brown-primary) !important;
}

.padding-top--md a {
  color: var(--brown-primary) !important;
}

.padding-top--md .table-of-contents__link {
  color: var(--ifm-color-text-primary) !important;

  &:hover {
    color: var(--brown-primary) !important;
  }
}

.padding-top--md .table-of-contents__link--active {
  color: var(--brown-primary) !important;
}

.col--3 > * {
  position: sticky !important;
  top: 110px !important;
}

article {
  padding-top: 2rem !important;
}

// .table-of-contents {
//   font-size: 0.8rem;
//   margin-bottom: 0;
//   padding: var(--ifm-toc-padding-vertical) 0;
// }
