
  table {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    table-layout: auto !important;
    width: calc(100% - 5px);
    border: none;
    overflow: hidden;
    @media (max-width: 640px) {
      overflow: auto;
    }
    thead {
      background-color: rgba(211, 131, 43, 0.7);
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      width: 100%;
      tr {
        border: none;

        th {
          border: none;
          text-align: start;
        }
      }
    }
    tbody {
      width: 100%;
      border: none;
      tr:last-child {
        td {
          text-align: start;
          border-bottom: none;
        }
      }
      tr {
        border: none;
        td {
          text-align: start;
          border-color: rgba(211, 131, 43, 0.7);
          width: 50vw !important;
        }
      }
    }
  }
  table tr:nth-child(2n) {
    background-color: #edcdaa;
  }

