table {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  table-layout: auto !important;
  //   border-color: rgba(211, 131, 43, 0.1);
  //   border: 0.5px solid rgba(211, 131, 43, 0.7) !important;
  //   border-bottom: 0.5px solid rgba(211, 131, 43, 0.7) !important;
  width: calc(100% - 5px);
  border: none;
  overflow: hidden;
  @media (max-width: 640px) {
    overflow: auto;
  }
  thead {
    background-color: rgba(211, 131, 43, 0.7);
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    tr {
      border: none;

      th {
        border: none;
        text-align: start;
      }
    }
  }
  tbody {
    width: 100%;
    border: none;
    tr:last-child {
      td {
        text-align: start;
        border-bottom: none;
      }
    }
    tr {
      border: none;
      td {
        text-align: start;
        border-color: rgba(211, 131, 43, 0.7);
        width: 50vw !important;
        a {
          color: var(--brown-primary) !important;
        }
      }
      td:first-child {
        border-left: none;
      }
      td:last-child {
        border-right: none;
      }
    }
  }
}
table tr:nth-child(2n) {
  background-color: #edcdaa;
}

[data-theme='dark'] table tr:nth-child(2n) {
  background-color: rgba(46, 46, 46, 0.9);
}
