.tabs-container {
  .tabs {
    height: fit-content;

    .tabs__item:hover {
      color: #d3832b;
      border-radius: 24px;
    }
    .tabs__item {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.3px;
      color: var(--ifm-color-text-primary);
      margin-right: 25px;
      border-radius: 24px;
    }
    .tabs__item--active {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.3px;
      color: #d3832b;
      background: rgba(211, 131, 43, 0.2);
      border-radius: 24px;
      // padding: 0px 10px !important;
      border: none;
    }
  }
}
