<ng-container *ngIf='address$ | async as address; else noSigner'>
    Using {{address }} from TezBridge
    <form [formGroup]='formGroup'>
        <label>TO</label>
        <input nbInput type='text' formControlName='to' />
        <br>
        <label>Amount</label>
        <input nbInput type='text' formControlName='amount' />
    </form>
    <br>
    <button nbButton (click)='send()'>Submit</button>
    <br>
    <tz-tx-card *ngFor='let tx of txs' [tx]='tx'></tz-tx-card>
</ng-container>
<ng-template #noSigner>
    Please choose your signer in TezBridge <button nbButton (click)='chooseSigner()'>Choose signer</button>
</ng-template>