.getStartedButton {
    font-family: Rounded Mplus 1c;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    padding: 3px 15px 6px 15px;
    background: var(--yellow-second);
    border-radius: 30px;
    color: var(--ifm-color-text-secondary) !important;
    min-width: 135px !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

.getStartedButton:hover {
    text-decoration: none;
    color: var(--ifm-color-text-primary) !important;
}
