nb-card {
  height: 100%;

  nb-card-header {
    display: flex;
    justify-content: space-between;
  }

  nb-card-body {
    display: flex;
    flex-direction: column;
  }
}

nb-tabset {
  margin-top: 16px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
