<nb-card [nbSpinner]="loading$ | async" nbSpinnerStatus="info" nbSpinnerSize="giant">
  <nb-card-header>
    Explore Contract
    <a routerLink="/"
      ><nb-icon nbTooltip="Close" nbTooltipPlacement="bottom" icon="close-outline"></nb-icon
    ></a>
  </nb-card-header>
  <nb-card-body>
    <tz-search-form
      [contract]="contractAddressFromUrl$ | async"
      (search)="onSearch($event)"
    ></tz-search-form>
    <nb-tabset *ngIf="contract$ | async as contract">
      <nb-tab tabTitle="Account">
        <div>
          <div class="row" *ngIf="contract.account.balance">
            <span class="column">Balance</span>
            <span class="column">{{ contract.account.balance | tz }}</span>
          </div>
          <div class="row" *ngIf="contract.account.manager">
            <span class="column">Manager</span>
            <span class="column">{{ contract.account.manager }}</span>
          </div>
          <div class="row" *ngIf="[true, false].includes(contract.account.spendable)">
            <span class="column">Spendable</span>
            <span class="column">{{ contract.account.spendable | yesno }} </span>
          </div>
          <div class="row" *ngIf="contract.account.delegate">
            <span class="column">Delegatable</span>
            <span class="column">{{ contract.account.delegate.setable | yesno }}</span>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Storage">
        <ngx-json-viewer [json]="contract.storage"></ngx-json-viewer>
      </nb-tab>
      <nb-tab tabTitle="Script">
        <ngx-json-viewer [json]="contract.script"></ngx-json-viewer>
      </nb-tab>
    </nb-tabset>
    <div class="error" *ngIf="error$ | async">
      <span
        >Your search "<b>{{ contractAddressFromUrl$ | async }}</b
        >" did not match any smart contracts on <b>{{ this.network | titlecase }}</b
        >.</span
      >
    </div>
  </nb-card-body>
</nb-card>
