.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.left-align {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  margin-right: 20px;
}

.divider {
  border: 1px solid #ccc;
  margin: 0 10px;
  height: 20px;
}

.searchbox {
  min-width: 500px;
  margin-left: 10px;
  margin-right: 10px;
}
