/* your custom css */
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

h1 {
    font-family: $titleFont;
    text-transform: uppercase;
    font-size: 32px;
}

.headerTitle, .headerTitleWithLogo {
    top: 5px;
    font-family: $titleFont;
    text-transform: uppercase;
    font-size: 32px;
}

a {
    color: #218DA5;
}

.blockContent a {
        text-decoration: underline;
    }

h2 {
    font-family: $subTitleFont;
    font-size: 28px;
    font-weight: 600;
}

.button {
    font-family: $subTitleFont;
    font-size: 12px;
    font-weight: bold;
}

h3 {
    font-family: $subTitleFont;
    font-size: 16px;
    font-weight: 800;
}

li {
    text-align: left;
}