.startNowButtonContainer {
    z-index: 11;
    top: calc(100% - 108px);
    bottom: 10%;
    right: 5%;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: 120px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

.startNowButtonText {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
}

.lightBg {
    color: var(--ifm-color-text-primary);
}

.darkBg {
    color: var(--white);
}


.startNowButton {
    font-family: Rounded Mplus 1c;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    background: var(--yellow-second);
    display: flex;
    min-width: 135px !important;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    padding: 6px 15px 6px 15px;
    color: var(--black) !important;

    &:hover {
        color: var(--ifm-color-text-primary) !important;
        text-decoration: none;
    }

    // margin-left: 10px;
}