---
import { DEFAULT_VERSION } from "../../pages/api/search/[version].json.ts";
---

<section class="bg-background-primary py-20 px-8">
  <div class="md:max-w-1/2 mx-auto text-left">
    <h1 class="text-4xl font-bold text-gray-900 mb-6">
      Developing on Tezos can be delicious!
    </h1>
    <p class="text-lg text-gray-700 mb-8">
      Use our popular Taquito TypeScript library to develop your Tezos
      blockchain apps faster and easier
    </p>
    <a
      href={`/docs/${DEFAULT_VERSION}/quick_start`}
      class="bg-primary text-white hover:text-gray-300 transition-colors duration-150 px-5 py-2.5 rounded-full text-lg"
      >Get Started</a
    >
  </div>
</section>
