.button{
 border: none !important;
 transition: all .4s;
}
.button:hover{
    transform: rotate(45deg);
    color:rgb(36, 172, 179);
}

.good{
    color:rgb(33, 175, 144);
}
.average{
    color: rgb(252, 175, 23);
}
.bad{
    color:rgb(240, 78, 110);
}

.alert{
    height:auto;
    transition: all .6s;
    max-width: 75%;
}

.fullscreen{
    /*display: block;*/
    position: fixed;
    overflow-y: scroll;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    z-index: 1000;
    background-color: rgb(0,0,0,.5);
    padding: 50px;
}
.show{
    display: inline-block;
}
.hide{
    display: none;
}
.card-demo{
    position: relative;
    width:100%;
    max-width: 500px;
    margin-right:20px;
    margin-left: auto; 
    margin-top: auto; 
    margin-bottom:20px;
    
}
.section-input{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding:5px;
}
.btn {
    background-color: var(--ifm-button-background-color);
    border: var(--ifm-button-border-width) solid var(--ifm-button-border-color);
    border-radius: var(--ifm-button-border-radius);
    cursor: pointer;
    font-size: calc(.875rem*var(--ifm-button-size-multiplier));
    font-weight: var(--ifm-button-font-weight);
    line-height: 1.5;
    padding: calc(var(--ifm-button-padding-vertical)*var(--ifm-button-size-multiplier)) calc(var(--ifm-button-padding-horizontal)*var(--ifm-button-size-multiplier));
    text-align: center;
    transition-duration: var(--ifm-button-transition-duration);
    transition-property: color,background,border-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

textarea{
    width: 100%;
    border-radius: 5px;
    padding:5px;
}