/* .container {
	padding: 100px;
}

.footerForm {
	width: 100%;
	background: #fff9ed;
}

.footerForm button {
	height: fit-content;
	white-space: nowrap;
	padding: 5px 18px;
	background-color: var(--ifm-color-primary);
	color: #373f41;
	font-size: 12px;
	line-height: 22px;
	font-weight: 600;
	letter-spacing: 0.3px;
	font-family: Montserrat;
	border-radius: 3px;
	margin-bottom: 50px !important;
	border: none;
}

.footerForm input {
	border: none;
	background: transparent;
	border-bottom: 1px solid #565656;
	padding-right: 100px;
	padding-bottom: 8px;
	margin-right: 5px;
} */
.footerForm {
  width: 100%;
  margin-top: 50px;
}

.footerFormTitle {
  color: var(--ifm-color-secondary);
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 12px;
  letter-spacing: 0.2px;
}

.footerInputContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.footerEmail {
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--ifm-color-secondary);
  padding-right: 100px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.signupButton {
  height: fit-content;
  white-space: nowrap;
  background-color: var(--ifm-color-secondary);
  border-radius: 30px;
  margin-left: 15px;
  margin-right: 15px;
  color: var(--ifm-color-text-secondary) !important;
  border: none;
  height: 33px;
  width: 96px;

  /* &:hover {
    color: var(--ifm-color-text-primary) !important;
  } */
}

.signupButton:hover {
  cursor: pointer !important;
  color: var(--ifm-color-text-primary) !important;
}
input:focus {
  background-color: var(--ifm-color-primary) !important;
}
input:checked {
  background-color: var(--ifm-color-primary) !important;
}
