<mat-progress-bar
  *ngIf="loading$ | async; else contract_details"
  mode="indeterminate"
></mat-progress-bar>
<ng-template #contract_details>
  <nb-card>
    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="Account">
          <div *ngIf="contract$ | async as contract">
            Balance: {{ contract.account.balance }}<br />
            Manager: {{ contract.account.manager }}<br />
            Spendable: {{ contract.account.spendable }}<br />
            Delegatable: {{ contract.account.delegate.setable }}<br />
            Methods: {{ contract.methods }}
          </div>
        </nb-tab>
        <nb-tab tabTitle="Storage">
          <ngx-json-viewer
            [json]="contract.storage"
            *ngIf="contract$ | async as contract"
          ></ngx-json-viewer>
        </nb-tab>
        <nb-tab tabTitle="Script">
          <ngx-json-viewer
            [json]="contract.script"
            *ngIf="contract$ | async as contract"
          ></ngx-json-viewer>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
</ng-template>
