.features {
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--brown--fourth);
  position: relative;
  mix-blend-mode: normal;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  z-index: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-bottom: 30px;
  z-index: 2;
  position: relative;
}
// .features:after {
//   content: ' ';
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   height: 150px;
//   width: 100%;
//   z-index: 2;
//   clip-path: polygon(0 78%, 100% 0%, 100% 26%, 0% 100%);
//   background: #ffffff;
//   border: none;
//   display: block;
//   z-index: 1;
//   @media (max-width: 640px) {
//     display: none;
//   }
// }
.simpleStepsTitleContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.simpleStepsTitle {
  margin-left: auto;
  margin-right: auto;
  max-width: 811px;
  padding: 0px 60px;
  color: var(--ifm-color-text-primary);
  padding-top: 155px;
  text-align: center;
  text-transform: capitalize;
}
.simpleStepsDescription {
  margin-left: auto;
  margin-right: auto;
  max-width: 428px;
  padding: 0px 40px;
}
.simpleStepsButton {
  font-family: Rounded Mplus 1c;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  min-width: 135px !important;
  background: var(--yellow-second);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  text-align: center;
  padding: 2px 15px 6px 15px;
  color: var(--ifm-color-text-secondary) !important;
  &:hover {
    color: var(--ifm-color-text-primary) !important;
    text-decoration: none;
  }
}
.steps {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 90vw;
  position: relative;
  z-index: 3;
  @media (max-width: 640px) {
    padding-bottom: 200px;
  }
}
.stepContainerRight {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  @media (max-width: 640px) {
    justify-content: center;
    text-align: center;
  }
}

.stepContainerRight .stepBox {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  @media (max-width: 640px) {
    flex-direction: column;
    align-items: center;
  }
  .textContainer {
    padding-right: 40px;
    text-align: right;
    padding-top: 40px;
    @media (max-width: 640px) {
      padding-right: 0px;
      text-align: center;
    }
    .stepTitle {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 25px;
      letter-spacing: 0.2px;
    }
  }
  .svgContainer {
    position: relative;
    .stepNumber {
      position: absolute;
      left: 0px;
      top: 0px;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 900;
      font-size: 60px;
      line-height: 56px;
      z-index: 2;
      color: var(--black);
    }
    .stepNumber:after {
      content: ' ';
      width: 49px;
      height: 49px;
      background: var(--yellow-second);
      border-radius: 50%;
      position: absolute;
      right: -5px;
      bottom: -15px;
      z-index: -1;
    }
  }
}

.stepContainerRight .stepBox .textContainer .stepDescription {
  max-width: 350px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  letter-spacing: 0.3px;
  @media (max-width: 640px) {
    text-align: center;
  }
}

.stepContainerLeft {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: right;
  @media (max-width: 640px) {
    justify-content: center;
    text-align: center;
  }
  .svgContainer {
    position: relative;
    .stepNumberFirst {
      position: absolute;
      left: 10px;
      bottom: 10px;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 900;
      font-size: 60px;
      line-height: 56px;
      z-index: 2;
      color: var(--black);
    }
    .stepNumberFirst:after {
      content: ' ';
      width: 49px;
      height: 49px;
      background: var(--yellow-second);
      border-radius: 50%;
      position: absolute;
      right: -10px;
      bottom: -10px;
      z-index: -1;
    }
    .stepNumber {
      position: absolute;
      right: 0px;
      top: 0px;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 900;
      font-size: 60px;
      line-height: 56px;
      z-index: 2;
      color: var(--black);
    }
    .stepNumber:after {
      content: ' ';
      width: 49px;
      height: 49px;
      background: var(--yellow-second);
      border-radius: 50%;
      position: absolute;
      right: -5px;
      bottom: -15px;
      z-index: -1;
    }
  }
}

.stepContainerLeft .stepBox {
  display: flex;
  align-items: flex-start;
  @media (max-width: 640px) {
    flex-direction: column;
    align-items: center;
  }
  .stepTitle {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.2px;
  }
}

.stepContainerLeft .stepBox .textContainer {
  padding-left: 40px;
  text-align: left;
  padding-top: 40px;
  @media (max-width: 640px) {
    flex-direction: column;
    text-align: center;
    padding-left: 0px;
  }
}

.stepContainerLeft .stepBox .textContainer .stepDescription {
  max-width: 350px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  letter-spacing: 0.3px;
  @media (max-width: 640px) {
    text-align: center;
  }
}
