<nb-layout>
    <nb-layout-header>
        <nb-actions size="small">
            <nb-action>Tezos TS demo</nb-action>
        </nb-actions>
    </nb-layout-header>
    <nb-layout-footer></nb-layout-footer>
    <nb-layout-column>
        <mat-progress-bar class='progress' [class.hidden]='!(loading$ | async)' mode="query">
        </mat-progress-bar>
        <tz-network-selector></tz-network-selector>
        <nb-tabset>
            <nb-tab tabTitle="Explorer">
                <tz-demo></tz-demo>
            </nb-tab>
            <nb-tab tabTitle="Transaction">
                <tz-send-transaction></tz-send-transaction>
            </nb-tab>
        </nb-tabset>
    </nb-layout-column>
</nb-layout>