<nb-layout>
  <nb-layout-header>
    <nb-actions>
      <nb-action>Tezos TS demo</nb-action>
    </nb-actions>
    <tz-search-form (search)="onSearch($event)"></tz-search-form>
  </nb-layout-header>
  <nb-layout-column>
    <tz-contract-state-card></tz-contract-state-card>

    <!--
        <nb-tabset>
            <nb-tab tabTitle="Explorer">
                <tz-demo></tz-demo>
            </nb-tab>
            <nb-tab tabTitle="Transaction">
                <tz-send-transaction></tz-send-transaction>
            </nb-tab>
        </nb-tabset> -->
  </nb-layout-column>
  <nb-layout-footer></nb-layout-footer>
</nb-layout>
