.features {
  width: 100%;
  height: auto;
  padding-bottom: 65px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  // padding: 100px 0px;
}

.teamsTitle {
  padding-bottom: 50px;
  text-transform: capitalize;

  @media (max-width: 380px) {
    padding: 50px 0px;
    font-size: 30px;
    line-height: 48px;
  }
}

[data-theme='dark'] .teamsTitle {
  color: var(--ifm-color-primary);
}

.teams {
  width: 80%;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.image {
  max-width: 163px;
  max-height: 77px;
}

.arrowLeftContainer {
  position: absolute;
  left: 5%;
  top: 75%;

  &:hover {
    cursor: pointer;

    svg {
      path {
        fill: var(--ifm-color-text-primary);
      }
    }
  }

  @media (max-width: 380px) {
    top: 80%;
  }
}

.arrowRightContainer {
  position: absolute;
  right: 5%;
  top: 75%;

  &:hover {
    cursor: pointer;

    svg {
      path {
        fill: var(--ifm-color-text-primary);
      }
    }
  }

  @media (max-width: 380px) {
    top: 80%;
  }
}