.features {
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--ifm-color-primary);
  position: relative;
  mix-blend-mode: normal;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

  @media (max-width: 640px) {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  padding-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  padding-bottom: 300px;
}

.dotMenu {
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.dots {
  height: 8px;
  width: 8px;
  background-color: var(--ifm-color-secondary);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.videoBlock {
  background-color: #111013;
  // max-height: 379px;
  display: flex;
  align-items: center;
  // height: 379px;
  border-radius: 13px;
  width: 100%;
  height: 100%;
}

.inactivedots {
  height: 8px;
  width: 8px;
  background-color: var(--ifm-color-secondary);
  opacity: 0.2;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.heroCardContainer {
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
  width: 558px;
}


.heroTitle {
  max-width: 624px;
  text-transform: capitalize;
  /* black */
  color: var(--ifm-color-text-primary);

  @media (max-width: 380px) {
    font-size: 32px;
    line-height: 48px;
  }
}

.heroCard {
  padding-top: 60px;
  padding-right: 20px;
  color: var(----ifm-color-text-secondary);
}

.heroCardContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}

.heroCardDescription {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.3px;
  /* black */
  color: var(--ifm-color-text-primary);
  max-width: 477px;
}

.carouselContainer {
  max-width: 558px;
  width: 100%;
}

.carouselBox {
  /* display: flex;
	justify-content: flex-end; */
  border: 30px solid var(--brown-primary);
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 13px;
  background-color: var(--brown-primary);
}

video {
  width: 100%;
  border-radius: 13px;
  height: 100%;
}

.featureSvg {
  height: 54px;
  width: 150px;
}

@media screen and (max-width: 1300px) {
  .featureSvg {
    height: 50px;
    width: 120px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 996px) {
  .content {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .heroCardDescription {
    width: 100%;
  }

  .heroCardContainer {
    width: 100%;
    padding-bottom: 30px;
  }

  .carouselContainer {
    max-width: 558px;
    width: 100%;
  }

  .heroCardContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--ifm-color-bg-purple);
    border-radius: 13px;
  }

  .heroCardContainer {
    background-color: var(--ifm-color-bg-purple);
    width: 70%;
  }

  .heroCard {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--ifm-color-bg-white);
  }

  .heroCardContent {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }

  .heroCardDescription {
    width: 100%;
  }

  .heroButtonContainer {
    width: 100%;
    padding: 15px 0px;
  }
}

@media screen and (max-width: 640px) {
  .heroCardContainer {
    background-color: var(--ifm-color-bg-purple);
    width: 100%;
  }

  .content {
    padding-bottom: 100px;
    padding-top: 50px;
  }

  .logos {
    position: relative;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
  }
}

.slick-slider {
  .slick-dots {
    margin-top: 100px;
  }
}