<div class="controls">
    <input class='search-input' [formControl]='addressInput' nbInput />
</div>
<br>
<div>
    <nb-card *ngIf='addressDetail$ | async as detail'>
        <nb-card-header class='card-header'><span>Address details</span>
            <div class='toggle-container'><span class='last-block'>Last block ({{level$ | async}}):
                    {{head$ | async}}</span>
                <nb-toggle [formControl]='autoRefreshToggle'>
                    Auto Refresh</nb-toggle>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div class='row'>
                <div class='col'>
                    <div *ngIf='detail.balance'>
                        Balance:
                        {{detail.balance | tz}}
                    </div>
                    <div *ngIf='!detail.balance'>
                        <p>Balance not available</p>
                    </div>
                    <div *ngIf='detail.contract'>
                        Manager: {{detail.contract.manager}}<br>
                        Counter: {{detail.contract.counter}}<br>
                        Spendable: {{detail.contract.spendable}}
                    </div>
                    <div *ngIf='!detail.balance'>
                        <p>Details not available</p>
                    </div>
                    <h6>Balance History</h6>
                    <div *ngIf='detail.history?.value?.length'>
                        <div id="chart"></div>
                    </div>
                    <div *ngIf='!detail.history?.value?.length'>
                        <p>History not available</p>
                    </div>
                </div>
                <div class='col'>
                    Storage:
                    <ngx-json-viewer *ngIf='detail.storage' [json]="detail.storage" [expanded]="false">
                    </ngx-json-viewer>
                    <div *ngIf='!detail.storage'>
                        <p>Storage not available</p>
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
    <br>
    <nb-card *ngIf='blockDetail$ | async as detail'>
        <nb-card-header class='card-header'><span>Last block details</span>
        </nb-card-header>
        <nb-card-body>
            <div class='row'>
                <ngx-json-viewer [json]="detail" [expanded]="false"></ngx-json-viewer>
            </div>
        </nb-card-body>
    </nb-card>
</div>