.features {
  width: 100%;
  height: auto;
  position: relative;
}

.container {
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  background-color: var(--ifm-background-color-secondary);
  height: 100%;
  width: 100%;
  padding: 200px 10px 100px 10px;

  @media (max-width: 640px) {
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
  }

  @media (max-width: 380px) {
    -webkit-clip-path: none;
    clip-path: none;
    padding: 50px 10px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
}

.cardsGridContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cardsGridTitleContainer {
  width: 35%;
  display: flex;
  flex-direction: column;
  height: 100%;

  .cardsGridTitle {
    // max-width: 400px;
    font-family: Rounded Mplus 1c;
    text-transform: capitalize;
    padding-right: 30px;
  }

  .cardsButton {
    font-family: Rounded Mplus 1c;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    width: fit-content;
    background: var(--brown);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    min-width: 135px !important;
    padding: 3px 15px 6px 15px;
    color: var(--ifm-color-text-secondary) !important;
    &:hover {
      color: var(--ifm-color-text-primary) !important;
      text-decoration: none;
    }
  }

  @media (max-width: 1200px) {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
    .cardsGridTitle {
      max-width: fit-content;
      padding: 10px;
    }
  }
}

.cardsGridCards {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;

  @media (max-width: 1200px) {
    width: 100%;
  }

}

.cardContainer {
  width: 49%;
  width: 350px;
  height: auto;
}

.cardBox {
  max-width: 315px;
  border: 1px solid #d3832b;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 30px;
  height: auto;
  margin: 20px;

  .cardTitle {
    padding: 10px 0px;
    margin-bottom: 0px;
    color: var(--black);
  }

  .description {
    height: 120px;
    overflow: auto;
    @media (max-width: 640px) {
      height: 140px;
    }
  }
}

[data-theme='light'] {
  .cardTitle {
    color: var(--black);
  }
}

[data-theme='dark'] {
  .cardTitle {
    color: var(--yellow-second);
  }
}

[data-theme='light'] .cardSvg [stroke] {
  stroke: var(--yellow-second);
}

[data-theme='dark'] .cardSvg [stroke] {
  stroke: var(--yellow-second);
}
