name: Node.js CI

on:
  pull_request:
  push:
  # TODO: uncomment after testing
    # branches:
    #   - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/master' || github.run_number }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: 
          - '16'
          - '18'
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node }}
    - run: npm ci
    - run: npm run build
    - run: npm run lint
    - run: npm run build-docs
    - run: npm run test -- --runInBand
    - name: Codecov
      uses: codecov/codecov-action@v3.1.1
      with:
        file: .coverage/*.json
      env:
        CI: true
        RUN_INTEGRATION: true

  integration-tests-testnet:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        include:
          - testnet: kathmandunet
            testnet_uppercase: KATHMANDUNET
          - testnet: limanet
            testnet_uppercase: LIMANET
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - run: npm ci
    - run: npm run build
    - if: ${{ github.repository_owner == 'ecadlabs' }}
      name: Tailscale
      uses: tailscale/github-action@v1
      with:
        authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
        version: 1.32.2
    - run: npm -w integration-tests run test:${{ matrix.testnet }} -- --maxWorkers=8
      env:
        # Ternary operator workaround
        TEZOS_RPC_${{ matrix.testnet_uppercase }}: ${{ github.repository_owner == 'ecadlabs' && 'http://ecad-${{ matrix.testnet }}-archive:8732' || 'https://${{ matrix.testnet }}.ecadinfra.com'}}
        
  integration-tests-flextesa-old:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - run: docker run --rm --name my-sandbox --detach -p 20000:20000 -e block_time=1 oxheadalpha/flextesa:latest kathmandubox start
    - run: npm ci
    - run: npm run build
    - run: npm -w integration-tests run test:originate-known-contracts && npm -w integration-tests run test:kathmandunet-secret-key -- --testPathIgnorePatterns ledger-signer-failing-tests.spec.ts ledger-signer.spec.ts contract-estimation-tests.spec.ts rpc-get-protocol-constants.spec.ts
      env:
        RUN_KATHMANDUNET_WITH_SECRET_KEY: true
        SECRET_KEY: edsk3RFgDiCt7tWB2oe96w1eRw72iYiiqZPLu9nnEY23MYRp2d8Kkx
        TEZOS_RPC_KATHMANDUNET: http://0.0.0.0:20000
        POLLING_INTERVAL_MILLISECONDS: 100
        RPC_CACHE_MILLISECONDS: 0
        TEZOS_BAKER: tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb
    - run: docker kill my-sandbox

  integration-tests-flextesa:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        include:
          - protocol: Kathmandu
            testnet: kathmandunet
            testnet_uppercase: KATHMANDUNET
          - protocol: Lima
            testnet: limanet
            testnet_uppercase: LIMANET
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16

    ## The 4 Bootstrap Accounts (alias, pk, pkh, sk)
    # alice,edpkvGfYw3LyB1UcCahKQk4rF2tvbMUk8GFiTuMjL75uGXrpvKXhjn,tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb,unencrypted:edsk3QoqBuvdamxouPhin7swCvkQNgq4jP5KZPbwWNnwdZpSpJiEbq
    # bob,edpkurPsQ8eUApnLUJ9ZPDvu98E8VNj4KtJa1aZr16Cr5ow5VHKnz4,tz1aSkwEot3L2kmUvcoxzjMomb9mvBNuzFK6,unencrypted:edsk3RFfvaFaxbHx8BMtEW1rKQcPtDML3LXjNqMNLCzC3wLC1bWbAt
    # charlie,edpkuvMuRuZ6ZbAquJH1XxBFfUmuBFz1zp9ENEqjCVgLp3NcY3Ww9M,tz1RDVcKmFcqzvTpJirvg4JaUVgZbjtnRT26,unencrypted:edsk3RgWvbKKA1atEUcaGwivge7QtckHkTL9nQJUXQKY5r8WKp4pF4
    # donald,edpkvXGp1BMZxHkwg3mKnWfJYS6HTJ5JtufD8YXxLtH8UKqLZkZVun,tz1eSWp4B9s1qhtNMMNXAkaf2oqCnDHd2iAm,unencrypted:edsk3S8mG2sSBmSRbikAcZVLCz4SrCq4DjmsQRic6MGktqNFijfrS2
    - run: |-
        flextesa_docker_image='oxheadalpha/flextesa:latest'

        alice="$(docker run --rm ${flextesa_docker_image} flextesa key alice)"
        bob="$(docker run --rm ${flextesa_docker_image} flextesa key bob)"
        charlie="$(docker run --rm ${flextesa_docker_image} flextesa key charlie)"
        donald="$(docker run --rm ${flextesa_docker_image} flextesa key donald)"

        docker run \
        --rm \
        --name my-sandbox \
        --detach \
        -p 20000:20000 \
        ${flextesa_docker_image} \
        flextesa mini-net \
          --root /tmp/mini-box --size 1 \
          --set-history-mode N000:archive \
          --number-of-b 1 \
          --balance-of-bootstrap-accounts tez:100_000_000 \
          --time-b 1 \
          --add-bootstrap-account="$alice@2_000_000_000_000" \
          --add-bootstrap-account="$bob@2_000_000_000_000" \
          --add-bootstrap-account="$charlie@2_000_000_000_000" \
          --add-bootstrap-account="$donald@2_000_000_000_000" \
          --no-daemons-for=donald \
          --until-level 200_000_000 \
          --protocol-kind ${{ matrix.protocol }}
    - run: npm ci
    - run: npm run build
    - run: npm -w integration-tests run test:originate-known-contracts && npm -w integration-tests run test:${{ matrix.testnet }}-secret-key -- --testPathIgnorePatterns ledger-signer-failing-tests.spec.ts ledger-signer.spec.ts contract-estimation-tests.spec.ts rpc-get-protocol-constants.spec.ts
      env:
        RUN_${{ matrix.testnet_uppercase }}_WITH_SECRET_KEY: true
        SECRET_KEY: edsk3RFgDiCt7tWB2oe96w1eRw72iYiiqZPLu9nnEY23MYRp2d8Kkx
        TEZOS_RPC_${{ matrix.testnet_uppercase }}: http://localhost:20000
        POLLING_INTERVAL_MILLISECONDS: 100
        RPC_CACHE_MILLISECONDS: 0
        TEZOS_BAKER: tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb
