name: CI

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/master' || github.run_number }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node:
          - 'lts/Iron'
          - 'lts/Jod'
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - run: bun install --frozen-lockfile
      - run: bun run build
      - run: bun run lint
      - run: bun run build-docs
      - run: bun run test -- --runInBand
      - name: Codecov
        uses: codecov/codecov-action@v3.1.1
        with:
          file: .coverage/*.json
        env:
          CI: true
          RUN_INTEGRATION: true

  integration-tests-testnet:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        include:
          - testnet: seoulnet
            testnet_uppercase: SEOULNET
            rpc_url: https://rpc.seoulnet.teztnets.com/
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: actions/setup-node@v4
        with:
          node-version: lts/Iron
      - run: bun install --frozen-lockfile
      - run: bun run build
      - if: ${{ !github.event.pull_request.head.repo.fork }}
        name: Tailscale
        uses: tailscale/github-action@v1
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
          version: 1.32.2
      - id: run-tests
        run: cd integration-tests && bun run test:${{ matrix.testnet }} -- --maxWorkers=4
        env:
          # Ternary operator workaround
          TEZOS_RPC_${{ matrix.testnet_uppercase }}: ${{ github.event.pull_request.head.repo.fork && matrix.rpc_url || null }}

  integration-tests-testnet-changed:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        include:
          - testnet: seoulnet
            testnet_uppercase: SEOULNET
            rpc_url: https://rpc.seoulnet.teztnets.com/
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: actions/setup-node@v4
        with:
          node-version: lts/Iron
      - run: bun install --frozen-lockfile
      - run: bun run build
      - if: ${{ !github.event.pull_request.head.repo.fork }}
        name: Tailscale
        uses: tailscale/github-action@v1
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
          version: 1.32.2
      - id: run-tests
        run: cd integration-tests && bun run test:${{ matrix.testnet }} -- --maxWorkers=4 --changedSince=origin/${{ github.base_ref || 'master' }}
        env:
          # Ternary operator workaround
          TEZOS_RPC_${{ matrix.testnet_uppercase }}: ${{ github.event.pull_request.head.repo.fork && matrix.rpc_url || null }}
