name: Node.js CI

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/master' || github.run_number }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node:
          - 'lts/Iron'
          - 'lts/Jod'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci
      - run: npm run build
      - run: npm run lint
      - run: npm run build-docs
      - run: npm run test -- --runInBand
      - name: Codecov
        uses: codecov/codecov-action@v3.1.1
        with:
          file: .coverage/*.json
        env:
          CI: true
          RUN_INTEGRATION: true

  integration-tests-testnet:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        include:
          - testnet: seoulnet
            testnet_uppercase: SEOULNET
            rpc_url: https://rpc.seoulnet.teztnets.com/
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/Iron
      - run: npm ci
      - run: npm run build
      - if: ${{ !github.event.pull_request.head.repo.fork }}
        name: Tailscale
        uses: tailscale/github-action@v1
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
          version: 1.32.2
      - id: run-tests
        run: npm -w integration-tests run test:${{ matrix.testnet }} -- --maxWorkers=4
        env:
          # Ternary operator workaround
          TEZOS_RPC_${{ matrix.testnet_uppercase }}: ${{ github.event.pull_request.head.repo.fork && matrix.rpc_url || null }}
  
  integration-tests-testnet-changed:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        include:
          - testnet: seoulnet
            testnet_uppercase: SEOULNET
            rpc_url: https://rpc.seoulnet.teztnets.com/
    steps:
      - uses: actions/checkout@v4
      - name: Fetch base branch
        run: git fetch origin ${{ github.base_ref || 'master' }}:${{ github.base_ref || 'master' }}
      - uses: actions/setup-node@v4
        with:
          node-version: lts/Iron
      - run: npm ci
      - run: npm run build
      - if: ${{ !github.event.pull_request.head.repo.fork }}
        name: Tailscale
        uses: tailscale/github-action@v1
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
          version: 1.32.2
      - id: run-tests
        run: npm -w integration-tests run test:${{ matrix.testnet }} -- --maxWorkers=4 --changedSince=${{ github.base_ref || 'master' }}
        env:
          # Ternary operator workaround
          TEZOS_RPC_${{ matrix.testnet_uppercase }}: ${{ github.event.pull_request.head.repo.fork && matrix.rpc_url || null }}

          # integration-tests-testnet-seoulnet-secret-key:
  #   runs-on: ubuntu-latest
  #   continue-on-error: true
  #   strategy:
  #     matrix:
  #       include:
  #         - testnet: seoulnet
  #           testnet_uppercase: SEOULNET
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version: lts/Iron
  #     - run: npm ci
  #     - run: npm run build
  #     - if: ${{ !github.event.pull_request.head.repo.fork }}
  #       name: Tailscale
  #       uses: tailscale/github-action@v1
  #       with:
  #         authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
  #         version: 1.32.2
  #     - run: npm -w integration-tests run test:seoulnet-secret-key
  #       env:
  #         RUN_${{ matrix.testnet_uppercase }}_WITH_SECRET_KEY: true