name: Node.js CI

on:
  pull_request:
  push:
    branches:
      - master
jobs:
  lint-and-test:
    runs-on: self-hosted
    strategy:
      matrix:
        node: [12.x]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - run: npm ci
    - run: npm run lerna -- bootstrap
    - run: npm run build
    - run: npm run lint
    - run: npm run build-docs
    - run: npm run test -- --runInBand
    - uses: codecov/codecov-action@v1
      with:
        file: .coverage/*.json
      env:
        CI: true
        RUN_INTEGRATION: true
        TEZOS_RPC_EDONET: ${{ secrets.TEZOS_RPC_EDONET }}
        TEZOS_RPC_FLORENCENET: ${{ secrets.TEZOS_RPC_FLORENCENET }}

  integration-tests-galpha2net:
    runs-on: self-hosted
    strategy:
      matrix:
        node: [12.x]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - run: npm ci
    - run: npm run lerna -- bootstrap
    - run: npm run build
    - run: cd integration-tests && npm run test:galpha2net -- --maxWorkers=8
      env:
        CI: true
        TEZOS_RPC_EDONET: ${{ secrets.TEZOS_RPC_EDONET }}
        TEZOS_RPC_FLORENCENET: ${{ secrets.TEZOS_RPC_FLORENCENET }}
        TEZOS_RPC_GALPHA2NET: 'http://10.60.41.70:8732'
  
  integration-tests-florencenet:
    runs-on: self-hosted
    strategy:
      matrix:
        node: [12.x]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - run: npm ci
    - run: npm run lerna -- bootstrap
    - run: npm run build
    - run: cd integration-tests && npm run test:florencenet -- --maxWorkers=8
      env:
        CI: true
        TEZOS_RPC_EDONET: ${{ secrets.TEZOS_RPC_EDONET }}
        TEZOS_RPC_FLORENCENET: ${{ secrets.TEZOS_RPC_FLORENCENET }}

  integration-tests-edonet:
    runs-on: self-hosted
    strategy:
      matrix:
        node: [12.x]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - run: npm ci
    - run: npm run lerna -- bootstrap
    - run: npm run build
    - run: cd integration-tests && npm run test:edonet -- --maxWorkers=8
      env:
        CI: true
        TEZOS_RPC_EDONET: ${{ secrets.TEZOS_RPC_EDONET }}
        TEZOS_RPC_FLORENCENET: ${{ secrets.TEZOS_RPC_FLORENCENET }}
