name: Node.js CI

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/master' || github.run_number }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [12.x]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node }}
    - run: npm ci
    - run: npm run lerna -- bootstrap
    - run: npm run build
    - run: npm run lint
    - run: npm run build-docs
    - run: npm run test -- --runInBand
    - name: Codecov
      uses: codecov/codecov-action@v1
      with:
        file: .coverage/*.json
      env:
        CI: true
        RUN_INTEGRATION: true

  integration-tests-testnet:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        protocol:
          - kathmandunet
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 12.x
    - run: npm ci
    - run: npm run lerna -- bootstrap
    - run: npm run build
    - name: Tailscale
      uses: tailscale/github-action@v1
      with:
        authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
        version: 1.22.2
    - run: cd integration-tests && npm run test:${{ matrix.protocol }} -- --maxWorkers=8

  integration-tests-flextesa:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 12.x
    - run: npm ci
    - run: npm run lerna -- bootstrap
    - run: npm run build
    - run: docker run --rm --name my-sandbox --detach -p 20000:20000 -e block_time=1 oxheadalpha/flextesa:latest kathmandubox start
    - name: Tailscale
      uses: tailscale/github-action@v1
      with:
        authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
        version: 1.22.2
    - run: cd integration-tests && npm run test:originate-known-contracts && npm run test:kathmandunet-secret-key -- --maxWorkers=8
      env:
        RUN_KATHMANDUNET_WITH_SECRET_KEY: true
        SECRET_KEY: edsk3RFfvaFaxbHx8BMtEW1rKQcPtDML3LXjNqMNLCzC3wLC1bWbAt
        TEZOS_RPC_KATHMANDUNET: http://0.0.0.0:20000
        POLLING_INTERVAL_MILLISECONDS: 100
        RPC_CACHE_MILLISECONDS: 0
        TEZOS_BAKER: tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb
    - run: docker kill my-sandbox