name: Tezlinknet Integration Tests

on:
  push:
    branches:
      - '**tezlink**'

jobs:
  integration-tests-tezlinknet:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: actions/setup-node@v4
        with:
          node-version: lts/Iron
      - run: bun install --frozen-lockfile
      - run: bun run build
      - if: always()
        id: integration-tests-tezlinknet
        run: cd integration-tests && bun run test:tezlinknet-secret-key
